<p>listaescritores works!</p>
<!-- //con esto extraemos la variable seleccionada -->
 <select (change)="onChange($event)" >
    <option value="todos">Todos</option>
<option value="españa">España</option>
<option value="reino unido">Reino unido</option>
<option value="chile">Chile</option>
<option value="canadá">Canadá</option>

</select> 


 <div class="escritores">
    <div class="escritor" *ngFor="let escri of arrescritores">
        <H3>{{escri.nombre}} {{escri.apellidos}}</H3>
<!-- //para traer una variable dentro de una propiedad en js debemos usar [] -->
        <img [src]="escri.imagen" alt="">
        <H5>{{escri.pais}}</H5>
    </div>
</div> 